/dist
/tmp
/node_modules
**/node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.turbo/*
/apps/**/dist
/apps/**/node_modules
/apps/**/tmp
/apps/**/.next
/apps/**/.turbo
/apps/**/.env
/apps/**/.env.local
/apps/**/.env.development.local
/apps/**/.env.test.local
/apps/**/.env.production.local
/apps/**/.env.development
/apps/**/.env.test
/apps/**/.env.production
.DS_Store